.loginContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-self: center;
    text-align: center;
    justify-content: center;
    color: #ffffff;
}

.loginMain {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    height: 470px;
    width: 550px;
    padding: 5rem;
    box-shadow: -4px -4px 15px rgba(129, 255, 247, 0.13), 4px 4px 15px #000000;
  }
  
  .inputSection {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .loginInput {
    background-color: initial;
    outline: none;
    width: 100%;
    justify-content: center;
    height: 50px;
    align-items: center;
    padding-top: 1px;
    padding-left: 20px;
    font-size: 12pt;
    border-color: transparent;
    box-shadow: inset -6px -6px 18px rgb(151 255 249 / 13%), inset 6px 2px 15px #000000;
    color: #ffffff;
    border-radius: 24px;
    resize: none;
    margin-top: 1rem;
  }
  
  .loginContainer h1 {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    font-size: 3rem !important;
    font-weight: 300;
  }
  
  .loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    box-shadow: -4px -4px 15px rgba(129, 255, 247, 0.13), 6.22302px 6.22302px 18.6691px #000000;
    margin-top: 2rem;
  }
  
  .loginButton:hover{
    background-color: #272a38;
  }
  
  @media (max-width: 600px) {
    .loginMain{
        width: 90%;
        padding: 1rem;
    }
  }